/* Subscription page */

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #808080;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin: auto;
  width: 50%;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #1f3d7e;
}

.StripeElement:hover {
  box-shadow: 0 1px 3px 0 #1f3d7e;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#cardholder-name {

  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #808080;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin: auto;
  width: 50%;

}

#cardholder-name--focus {
  box-shadow: 0 1px 3px 0 #1f3d7e;
}

#cardholder-name:hover {
  box-shadow: 0 1px 3px 0 #1f3d7e;
}

#cardholder-name::placeholder{

  color: #6e757e;

}

#card-button {

  margin: auto;
  width: 50%;

}

/* /////////////////////////// */

/* Navigation bar */

#navhm {

  background-color: black;

}

nav a {

  font-size: 20px;

}

#hm-connect {

  position: absolute;
  right: 15%;

}

#hm-regis {

    position: absolute;
    right: 4%;
}


#hm-home {

  margin: auto;

}

/* #hm-logo {

  height: 110px;
  width: auto;

} */

.nav-item {

  position: relative;

}

li {

  list-style: none;

}

/* /////////////////////////// */

/* Home Page */

#home-pic {

  width: 100%;

}

body {

  background-color: whitesmoke !important;

}

/* /////////////////////////// */

/* Registration Page */

#regis_button:hover {

  background-color: #FD8C51;
  border: 1px rgb(61, 9, 9) solid;

}

#password_same {

  display: none;
  color: red;

}

#password_size {

  display: none;
  color: red;

}

.subscriptions {
  width: 33%;
  min-width: 320px;
  padding-bottom: 10px;
  display: inline-block;
  background-color: #EEEEEE;
  text-align: center;
}

.subscrib_button {
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

/* /////////////////////////// */

/* Profile customer/associate Page */

.inputs_account {

  display: inline-block !important;
  width: 75% !important;
  max-width: 100%;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

}

.inputs_account:disabled {

  background-color: white !important;

}

.inputs2_account:disabled {

  background-color: white !important;

}

.div_account {

  display: inline-block !important;

}

.labels_account {

  display: inline-block !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

}

#delete_button {

  margin-left: 80%;

}

/* /////////////////////////// */

/* Media screen */


@media screen and (max-width:991px){

  #hm-logo {

    display: none;

  }

  #hm-connect,
  #hm-regis
  {

    position: relative;
    right: 0;
  }


}

/* /////////////////////////// */


/* Calendar Page */

.calendar
{
    background:#fff;
    border-radius:4px;
    color:#222629;
    overflow:hidden;
}

.calendar .header
{
    background:#ddd;
    height:40px;
    line-height:40px;
    text-align:center;
}

.calendar .month
{
    display:inline-block;
    font-weight:bold;
}

.calendar button
{
    background:none;
    color:inherit;
    cursor:pointer;
    font-family:Consolas;
    font-size:1.75rem;
    height:100%;
    padding:0 15px;
}

.calendar button:hover
{
    color:#009FB7;
}

.calendar button:first-child
{
    float:left;
}

.calendar button:last-child
{
    float:right;
}

.calendar .cell
{
    background:#fff;
    color:#5d5d5d;
    box-sizing:border-box;
    display:inline-block;
    padding:10px 0;
    text-align:center;
    width:calc(100% / 7);
}

.calendar .day
{
    font-size:.8rem;
    padding:8px 0;
}

.calendar .day, .calendar .today
{
    background:#009FB7;
    color:#fff;
}

.calendar p:hover {
  background-color: #d1f4ff;
}

.calendar p{
  margin-bottom: 0px;
}

/* /////////////////////////// */

/* About us Page */

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: #000000;
  z-index: 1;
}

#blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: #000000;
  z-index: 1;
}

#overlay>div {
  text-align: center;
}

#overlay>div>button {
  height: 20px;
  background: transparent;
  color: #ffffff;
  outline: 1px solid #ffffff;
  border: 0px;
  cursor: pointer;
}

#overlay>div>p {
  color: #777777;
  font-size: 12px;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  opacity: 0.3;
}

#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

#startVR {

  border: white solid 1px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  right: 3%;
  bottom: 3%;
  position: absolute;

}

#slogan {

  font-size: 2em !important;
  font-style: italic;

}

#home-services {

  font-size: 3em !important;
  margin-bottom: 0.5em;

}

canvas {
  display: block;
}