/* Subscription page */

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #808080;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin: auto;
  width: 50%;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #1f3d7e;
}

.StripeElement:hover {
  box-shadow: 0 1px 3px 0 #1f3d7e;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#cardholder-name {

  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #808080;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  margin: auto;
  width: 50%;

}

#cardholder-name--focus {
  box-shadow: 0 1px 3px 0 #1f3d7e;
}

#cardholder-name:hover {
  box-shadow: 0 1px 3px 0 #1f3d7e;
}

#cardholder-name::placeholder{

  color: #6e757e;

}


#card-button {

  margin: auto;
  width: 50%;

}

#subscription_block {

  border: 1px solid rgba(0,0,0,.125);
  border-radius: .55rem;

}

/* Navigation bar */

#navhm {

  background-color: black;

}

nav a {

  font-size: 20px;

}

#hm-connect {

  position: absolute;
  right: 12%;

}

#hm-regis {

    position: absolute;
    right: 4%;
}


#hm-home {

  margin: auto;

}

#hm-logo {

  height: 110px;
  width: auto;

}

.nav-item {

  position: relative;

}

li {

  list-style: none;

}

/* /////////////////////////// */

/* Home Page */

#home-pic {

  width: 100%;

}

body {

  background-color: whitesmoke !important;

}

/* /////////////////////////// */

/* Registration Page */

#regis_button:hover {

  background-color: #FD8C51;
  border: 1px rgb(61, 9, 9) solid;

}

#password_same {

  display: none;
  color: red;

}

#password_size {

  display: none;
  color: red;

}

.subscriptions {
  width: 33%;
  min-width: 320px;
  padding-bottom: 10px;
  display: inline-block;
  background-color: #EEEEEE;
  text-align: center;
}

.subscrib_button {
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

/* #subscrib_description {
  font-style: ;
} */

/* /////////////////////////// */

@media screen and (max-width:991px){

  #hm-logo {

    display: none;

  }

  #hm-connect,
  #hm-regis
  {

    position: relative;
    right: 0;
  }


}
