# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#VSCode
*.vscode
C/SQLFusion/test/

C/QRcode/mysql-linux/share/spanish/

C/QRcode/mysql-linux/share/swedish/

C/QRcode/mysql-linux/share/ukrainian/

C/QRcode/mysql-linux/share/slovak/

C/QRcode/mysql-linux/share/charsets/

C/QRcode/mysql-linux/share/

C/QRcode/mysql-linux/

WEB/Front Office/test.php

WEB/Front Office/include/database.env

WEB/Front Office/mail/__pycache__/logins.cpython-38.pyc

WEB/Front Office/mail/logins.py

WEB/Back Office/include/database.env

WEB/Back_Office/include/database.env

WEB/Back_Office/mail/logins.py

WEB/Back_Office/test.php
