# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#VSCode
*.vscode
C/SQLFusion/test/

C/QRcode/mysql-linux/share/spanish/

C/QRcode/mysql-linux/share/swedish/

C/QRcode/mysql-linux/bin/

C/QRcode/mysql-linux/lib/mecab/dic/ipadic_euc-jp/

C/QRcode/mysql-linux/lib/mecab/dic/ipadic_sjis/

C/QRcode/mysql-linux/lib/mecab/dic/ipadic_utf-8/

C/QRcode/mysql-linux/man/man1/

C/QRcode/mysql-linux/share/charsets/

C/QRcode/mysql-linux/share/danish/

C/QRcode/mysql-linux/share/

C/QRcode/mysql-linux/lib/pkgconfig/

C/QRcode/mysql-linux/lib/mecab/etc/

C/QRcode/mysql-linux/

C/QRcode/mysql-linux/share/ukrainian/

C/QRcode/mysql-linux/share/slovak/

C/QRcode/mysql-linux/share/charsets/

C/QRcode/mysql-linux/share/

C/QRcode/mysql-linux/

WEB/Front_Office/test.php

WEB/Front_Office/include/database.env

WEB/Front_Office/mail/__pycache__/logins.cpython-38.pyc

WEB/Front_Office/database.env

WEB/Front_Office/include/database.env

WEB/Back_Office/include/database.env

WEB/Back_Office/mail/logins.py

WEB/Back_Office/include/database.env

WEB/Front_Office/mail/logins.py

WEB/Front_Office/mail/__pycache__/logins.cpython-38.pyc

WEB/Front_Office/test.php

WEB/Front_Office/test/

WEB/Back_Office/test.php
