/* Navigation bar */

#navhm {

  background-color: black;

}

nav a {

  font-size: 20px;

}

#hm-connect {

  position: absolute;
  right: 12%;

}

#hm-regis {

    position: absolute;
    right: 4%;
}


#hm-home {

  margin: auto;

}

#hm-logo {

  height: 110px;
  width: auto;

}

.nav-item {

  position: relative;

}

li {

  list-style: none;

}

/* /////////////////////////// */

/* Home Page */

#home-pic {

  width: 100%;

}

main {

  background-color: whitesmoke;

}

/* /////////////////////////// */

/* Registration Page */

#regis_button:hover {

  background-color: #FD8C51;
  border: 1px rgb(61, 9, 9) solid;

}

#password_same {

  display: none;
  color: red;

}

#password_size {

  display: none;
  color: red;

}

.subscriptions {
  width: 33%;
  min-width: 320px;
  padding-bottom: 10px;
  display: inline-block;
  background-color: #EEEEEE;
  text-align: center;
}

.subscrib_button {
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

#subscrib_description {
  font-style: ;
}

/* /////////////////////////// */

@media screen and (max-width:991px){

  #hm-logo {

    display: none;

  }

  #hm-connect,
  #hm-regis
  {

    position: relative;
    right: 0;
  }


}
