/* Navigation bar */

#navhm {

  background-color: black;

}

nav a {

  font-size: 20px;

}

#hm-connect {

  position: absolute;
  right: 12%;

}

#hm-regis {

    position: absolute;
    right: 4%;
}


#hm-home {

  margin: auto;

}

#hm-logo {

  height: 110px;
  width: auto;

}

.nav-item {

  position: relative;

}

li {

  list-style: none;

}

/* /////////////////////////// */

/* Home Page */

#home-pic {

  width: 100%;

}

main {

  background-color: whitesmoke;

}

/* /////////////////////////// */

/* Registration Page */

#regis_button:hover {

  background-color: #FD8C51;
  border: 1px rgb(61, 9, 9) solid;

}

#password_same {

  display: none;
  color: red;

}

#password_size {

  display: none;
  color: red;

}

/* /////////////////////////// */

@media screen and (max-width:991px){

  #hm-logo {

    display: none;

  }

  #hm-connect,
  #hm-regis
  {

    position: relative;
    right: 0;
  }


}

.subscription{
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}
