/* Navigation bar */

#navhm {

  background-color: black;

}

  /* nav {

    height: 80px;

  } */

nav a {

  font-size: 20px;

}

#hm-connect {

  right: -95%;

}

#hm-regis {

  right: -105%;
  position: relative;

}

#hm-home {

  margin: auto;

}

#hm-logo {

  height: 110px;
  width: auto;

}


.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus{
    background-color: #7dc290;
}
/* /////////////////////////// */

/* Home Page */

#home-pic {

  width: 100%;

}

body{
  background-color: rgb(245, 245, 245) !important;
}


/* /////////////////////////// */

/* Registration Page */

#regis_button:hover {

  background-color: #FD8C51;
  border: 1px rgb(61, 9, 9) solid;

}

#password_same {
  
  display: none;
  color: red;

}

#password_size {
  
  display: none;
  color: red;

}

/* /////////////////////////// */